<div class="container">
  <div class="row">
    {{log model}}
    {{#each model.categoryitems as |item|}}
    <div class="col-md-2 well" style="margin: 2em auto;">
      <h2>sldfkjas</h2>

    </div>
    {{/each}}
  </div>
</div>
